.elements__like-button {
  width: 25px;
  height: 19px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  background: transparent url('../../../images/likeButton.svg') center no-repeat;
}

.elements__like-button:hover {
  opacity: 0.5;
}

.elements__like-button:active {
  background-image: url('../../../images/likeButtonActive.svg');
  opacity: 1;
}
